* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  background-color: #f8bd9e;
}

#root {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: #a694c2;
  text-decoration: none;
}

a:hover {
  color: #666;
}

input[type='text'] {
  max-width: 10rem;
  min-height: 1.5rem;
  background-color: #f8bd9e;
  border: 1px solid #fbda57;
  font-family: 'Oswald', sans-serif;
}

.button {
  cursor: pointer;
}

.container {
  max-width: 900px;
  min-height: 85vh;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.Card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffe8e2;
  max-width: 300px;
  min-height: 560px;
  text-align: center;
  font-family: arial;
  margin: auto;
  margin-bottom: 2rem;
}

.Card h1 {
  color: #162b29;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}

.Card p {
  color: #162b29;
  font-family: 'Oswald', sans-serif;
  font-size: 2.2rem;
}

.Card img {
  width: 100%;
}

.Card .type {
  color: rgba(22, 43, 41, 0.7);
  font-size: 2rem;
  font-style: italic;
  padding-bottom: 1rem;
}

.Card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem;
  z-index: 1;
  max-width: 100%;
  border-bottom: solid 1px #383737;
  background-color: #162b29;
  color: #fbda57;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar ul li {
  padding: 0 2rem;
}

.navbar a {
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar .btn {
  border: none;
  font-size: 1.5rem;
  text-align: center;
  color: yellow;
}

/* Grid */
.grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar h1 {
    margin-bottom: 0.6rem;
  }
  .navbar ul {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hide-sm {
    display: none;
  }
  .grid-2,
  .grid-3,
  .grid-4 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */