* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% --> 1rem = 10px
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  background-color: #f8bd9e;
}

#root {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: rgb(166, 148, 194);
  text-decoration: none;
}

a:hover {
  color: #666;
}

input[type='text'] {
  max-width: 10rem;
  min-height: 1.5rem;
  background-color: #f8bd9e;
  border: 1px solid #fbda57;
  font-family: 'Oswald', sans-serif;
}

.button {
  cursor: pointer;
}

.container {
  max-width: 900px;
  min-height: 85vh;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffe8e2;
  max-width: 300px;
  height: 560px;
  text-align: center;
  font-family: arial;
  margin: auto;
  margin-bottom: 2rem;

  h1 {
    color: #162b29;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
  }

  p {
    color: #162b29;
    font-family: 'Oswald', sans-serif;
    font-size: 2.2rem;
  }

  img {
    width: 100%;
  }

  .type {
    color: rgba(22, 43, 41, 0.7);
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 1rem;
  }

  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  z-index: 1;
  max-width: 100%;
  border-bottom: solid 1px rgb(56, 55, 55);
  background-color: #162b29;
  color: #fbda57;
  opacity: 0.9;
  margin-bottom: 1rem;

  ul {
    display: flex;

    li {
      padding: 0 2rem;
    }
  }

  a {
    padding: 0.45rem;
    margin: 0 0.25rem;
  }

  .btn {
    // display: inline-block;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    color: yellow;
  }
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
}
